@model int
@{
    Layout = null;
}

<!DOCTYPE html>
<html style="background-color:aliceblue;height:100%">
<head>
    <style>
    </style>
</head>
<body>
    <h1>Hello World! @Model</h1>
</body>
</html>